@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <ul class="list-group">
        <li class="list-group-item">姓名：<input id="userName" type="text" /></li>
        <li class="list-group-item">消息：<input id="message" type="text" /></li>
        <li class="list-group-item"><input id="btnSend" type="button" value="发送" /></li>
    </ul>
</div>

<div>
    <ul class="list-group" id="messageList"></ul>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js" type="text/javascript"></script>